.main-container{
  text-align: left;
  padding-left: 5%;
}
.children {
  padding-left: 20px;
}
.selections {
  margin-top: 20px;
}

.selected {
  margin: 5px;
  border: 1px solid grey;
  border-radius: 4px;
  padding: 5px 10px;
}
.delete {
  cursor: pointer;
}
