img{
  width: 100%;
  height: 100%;
}
.container{
  border: 2px dashed #282c34;
  background-color: burlywood;
  width: 40%;
  margin:5px 20%;
}

.cool-ui{
  height: 1000px;
}
.big-font-awe{
  font-size: 55px;
}