.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.location-view{

  background-color: green;
  color: black;
}

.explain{
  background-color: white;
  border: 2px solid yellow;
  /*color: purple;*/
}
.explain *:nth-child(odd){
  color:purple;

}

.explain *:nth-child(even){
  color:black;

}

.productStyle1{

  background-color: black;
  color: green;
}

li{
  text-align: left;
}


#productsList{
  border: solid black 2px;

}

#productsListBox{

  border: solid red 2px;
  width:50%;

}
.little-comment::before{
  content: '*';
}
.little-comment{
  font-size: 15px;
  color: blue;
}